@charset "UTF-8";

@media screen and (min-width:500px) and (max-width:768px){
    section#login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: white;
       
        width: 250px;
        height: 500px;
        border-radius: 20px;
       overflow: hidden;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.597);
    
       transition: width .5s, height .5s;
       transition-timing-function: ease;
    }
    
    
    section#login > div#foto{
       
        background-image: url(../imagens/praia.jpg);
        height: 200px;
        background-size: cover;
        background-position: center center;
      
        
        display: block;
    }
    
    section#login > div#form{
        display: block;
    }
}


@media screen and (min-width:768px) and (max-width:992px) {
   
    body{
        background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
    }

    section#login{
        width: 90vw;
    }

    section#login > div#foto{
        
        float: left;
        width: 30%;
        height: 110%;
       
    }

    section#login > div#form{
        float: right;
        width: 70%;
    }

    div#form > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#form > p{
        font-size: 1.4em;
    }
}

@media screen and (min-width:992px){
    
    body{
        background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
    }
    
    section#login{
        width: 950px;
    }

    section#login > div#foto{
        float: right;
        width: 50%;
        height: 110%;
    }

    section#login > div#form{
        float: left;
        width: 50%;
    }

    
    div#form > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }

    div#form > p{
        font-size: 1.4em;
    }
}

