@charset "UTF-8";

:root{
    --cor1:#687E8C;
    --cor2: #48635E;
    --cor3:#BFBFBA;
    --cor4: #8C715A;
    --cor5: #262626;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main{
    position:relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
   
    width: 250px;
    height: 500px;
    border-radius: 20px;
   overflow: hidden;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.597);

   transition: width .5s, height .5s;
   transition-timing-function: ease;
}


section#login > div#foto{
   
    background-image: url(../imagens/praia.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;
  
    
    display: block;
}

section#login > div#form{
    display: block;
    padding: 10px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 0.8em;
    text-align: justify;
    text-indent: 5px;
    padding-bottom: 5px;
}

form > div.campo{
    background-color: var(--cor4);
    margin: 5px 0px;
    border-radius: 7px;
    display: block;
    width: 100%;
    height: 40px;
}

form > div.campo > span{
    position: relative;
    top: 8px;
    left: 3px;
    color: white;
}

div.campo > input{
    width: calc(100% - 33px);
    height: 36px;
    border-radius: 2px;
}

form label{
    display: none;
}

form > input[type=submit]{
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--cor1);
}

form > a.botao{
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-top: 0px;
    margin-top: 8px;
    position: relative;
    height: 35px;
   
}

form > a.botao:hover{
    background-color: var(--cor1);
}

form > a > span{
    font-size: 0.8em;
    position: relative;
    top: 6px;
}